<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <link rel="stylesheet" href= {% static "bootstrap/css/bootstrap.css" %} />
        <!-- <link rel="stylesheet" href="{% static user_stylesheet %}" type="text/css" media="screen" /> -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<title>
    quizBuddy -
    {% block title_block %}
        Quiz away your problems.
    {% endblock %}
</title>
</head>
<body>
    <div>
        <header>
            <nav class="navbar navbar-light bg-light border-bottom border-dark">

            <form class="btn-toolbar">
                <button class="btn btn-quizBuddy-4 btn-lg"  type="button">quizBuddy</button>
            </form>

            <form class="btn-toolbar">
                {% block header_buttons %}

                {% endblock %}
            </form>
            </nav>
        </header>
        {% block body_block %}
        {% endblock %}
    </div>
</body>
</html>
