<!-- currently there's no difference between this and the teacher one until we add the character choosing -->

{% extends 'base.html' %}

{% block title_block %}
        Student registration
{% endblock %}

{% block header_buttons %}
<a href={% url 'about' %} class="btn btn-quizBuddy-4 mr-2" role="button">About</a>
<a href={% url 'registerStudent' %} class="btn btn-quizBuddy-1 mr-2" role="button">Sign up, Student</a>
<a href={% url 'registerTeacher' %} class="btn btn-quizBuddy-1-dark mr-2" role="button">Sign up, Teacher</a>
{% endblock %}

{% block body_block%}
<div class="jumbotron jumbotron-fluid bg-white" align="center" style="height:100vh;">
  <h3 class="title" align="center" style="width: 34rem;">Register as Student</h3>
  <div class="card" style="width: 34rem;">
  <div class="card-body bg-light">
    {% if registered %}
    <strong>thank you for registering!</strong>
    <a href="{% url 'index' %}">Return to the homepage.</a><br />
    {% else %}
    <form id="user_form" method="post" action="{% url 'registerStudent' %}" enctype="multipart/form-data">

      {% csrf_token %}

      <!-- Displays form neatly instead of having the label n field next to eachother -->
      {% for field in user_form.visible_fields %}
        <div class="mydiv">

            <label class="mylabel">{{ field.label }}</label><br>
            {{ field }}
        </div>
      {% endfor %}
      {% for field in user_form.hidden_fields %}
        {{field}}
      {% endfor %}

      <!-- Provide a button to click to submit the form. -->
      <br>
      <input type="submit" name="submit" value="Register" />
    </form>
    {% endif %}
  </div>
  </div>
</div>
{% endblock %}
