{% extends 'base.html' %}

{% block title_block %}
        Student registration
{% endblock %}

{% block header_buttons %}
<a href={% url 'about' %} class="btn btn-quizBuddy-4 mr-2" role="button">About</a>
<a href={% url 'registerStudent' %} class="btn btn-quizBuddy-1 mr-2" role="button">Sign up, Student</a>
<a href={% url 'registerTeacher' %} class="btn btn-quizBuddy-1-dark mr-2" role="button">Sign up, Teacher</a>
{% endblock %}

{% block body_block%}
<div class="container">
<div class="row d-flex justify-content-center">
<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
  <h3 class="title" align="center" style="width: 34rem;">Register as Student</h3>
  <div class="card" style="width: 34rem;">
  <div class="card-body">
    <form id="login_form" method="post" action="{% url 'quiz:index' %}">
      {% csrf_token %}
    <div class="form-group">
      <div class="form-group">
        <label for="inputUsername">Username</label>
        <input type="username" name="password" value="" class="form-control" id="inputUsername">
      </div>
      <label for="inputEmail">Email address</label>
      <input type="email" name="email" value="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" name="password" value="" class="form-control" id="inputPassword">
      <small id="passwordHelp" class="form-text text-muted">You would not want someone to ruin your grade, would you? Choose your password wisely.</small>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="char" name="char1" class="custom-control-input">
      <label class="custom-control-label" for="customRadioInline1">Character 1</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="char" name="char2" class="custom-control-input">
      <label class="custom-control-label" for="customRadioInline2">Character 2</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="char" name="char3" class="custom-control-input">
      <label class="custom-control-label" for="customRadioInline3">Character 3</label>
    </div>
    <div style="padding-top: 30px">
    <button type="submit" value="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  </div>
  </div>
  </div>
  </div>
</div>
{% endblock %}
